{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edytuj dane:</h1>
        {{ form_start(edytuj_form) }}
            {{ form_widget(edytuj_form) }}
            <button type="submit" class="btn btn-primary">Zapisz</button>
            <a class="btn btn-warning" href="{{ path('_home') }}">Wróć</a>
        {{ form_end(edytuj_form) }}
{% endblock %}