{% extends 'base.html.twig' %}

{% block body %}
    <div id="tabelka">
        <table id="tabelka" class="table table-responsive table-bordered table-condensed">
              <thead class="thead-inverse">
            <tr>
                <th>Do porównania</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Lata produkcji</th>
                <th>Szerokość</th>
                <th>Długość</th>
                <th>Waga</th>
                <th>Współczynnik Cx</th>
                <th>Zawieszenie</th>
                <th>Zalety</th>
                <th>Wady</th>
                <th>Silnik1</th>
                <th>Silnik2</th>
                <th>Silnik3</th>
                <th>Silnik4</th>
                <th>Silnik5</th>
                <th>Edycja</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody>
    {% for auto in auta %}
        <tr>
            <td><input type="checkbox" value="{{ auto.id }}" class="porownanie" name="porow"></td>
            <td>{{ auto.marka }}</td>
            <td>{{ auto.model }}</td>
            <td>{{ auto.lataProdukcji }}</td>
            <td>{{ auto.szerokosc }}</td>
            <td>{{ auto.dlugosc }}</td>
            <td>{{ auto.waga }}</td>
            <td>{{ auto.factorcx }}</td>
            <td>{{ auto.zawieszenie }}</td>
            <td>{{ auto.zalety }}</td>
            <td>{{ auto.wady }}</td>
            <td>{{ auto.silnik1 }}</td>
            <td>{{ auto.silnik2 }}</td>
            <td>{{ auto.silnik3 }}</td>
            <td>{{ auto.silnik4 }}</td>
            <td>{{ auto.silnik5 }}</td>
            <td><a class="btn btn-info" href="auta/admin/{{ auto.id }}/edit">Edytuj</a></td>
            <td><a class="btn btn-warning" href="{{ path('auta_usun', { 'id': auto.id }) }}">Usuń</a></td>
        </tr>
    {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-info" href="{{ path('dodaj_auto') }}">Dodaj auto</a>
        <a class="btn btn-info" href="{{ path('auta_porownywarka', {'auto1': 'x', 'auto2': 'y'}) }}" id="dopor">Porównaj zaznaczone</a>
        
    </div>
{% endblock %}
{% block javascripts %}
    <script>
   $(document).ready(function () {
   $("input[name='porow']").change(function () {
      var maxAllowed = 2;
      var cnt = $("input[name='porow']:checked").length;
      if (cnt > maxAllowed) 
      {
         $(this).prop("checked", "");
         alert('Możesz porównać tylko ' + maxAllowed + ' auta!');
     }
  });
  
  $('#dopor').on('click', function(event){
      event.preventDefault();
      var tab = [];
     $('.porownanie').each(function(){
         if($(this).prop("checked")){
         tab.push($(this).val());
     }
     });
     window.location = "auta/porownanie/"+tab[0]+"/"+tab[1];
  });
});      
    </script>
{% endblock %}