{% extends 'base.html.twig' %}

{% block body %}
        {{ form_start(autaForm) }}
            {{ form_widget(autaForm) }}
            <button type="submit" class="btn btn-success">Zapisz</button>
            <a class="btn btn-warning" href="{{ path('_home') }}">Wróć</a>
        {{ form_end(autaForm) }}
{% endblock %}