{% extends 'base.html.twig' %}

{% block body %}
    <div id="tabelka">
    <table id="tabelka" class="table table-responsive table-bordered table-condensed">
        <thead class="thead-inverse">
        <tr>
            <th>cecha</th><th class="tedewidth tedecenter">{{ auta.0.marka }}&nbsp;{{ auta.0.model }}</th>
            <th class="tedewidth tedecenter">{{ auta.1.marka }}&nbsp;{{ auta.1.model }}</th><th>cecha</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="bg-info tederajt">Lata produkcji</td><td class="tederajt">{{ auta.0.lataProdukcji }}</td>
            <td>{{ auta.1.lataProdukcji }}</td><td class="bg-info">Lata_produkcji</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Szerokość</td><td class="tederajt">{{ auta.0.szerokosc }}</td>
            <td>{{ auta.1.szerokosc }}</td><td class="bg-info">Szerokość</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Długość</td><td class="tederajt">{{ auta.0.dlugosc }}</td>
            <td>{{ auta.1.dlugosc }}</td><td class="bg-info">Długość</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Waga</td><td class="tederajt">{{ auta.0.waga }}</td>
            <td>{{ auta.1.waga }}</td><td class="bg-info">Waga</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Współczynnik Cx</td><td class="tederajt">{{ auta.0.factorcx }}</td>
            <td>{{ auta.1.factorcx }}</td><td class="bg-info">Współczynnik Cx</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Zawieszenie</td><td class="tederajt">{{ auta.0.zawieszenie }}</td>
            <td>{{ auta.1.zawieszenie }}</td><td class="bg-info">Zawieszenie</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Zalety</td><td class="tederajt">{{ auta.0.zalety }}</td>
            <td>{{ auta.1.zalety }}</td><td class="bg-info">Zalety</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Wady</td><td class="tederajt">{{ auta.0.wady }}</td>
            <td>{{ auta.1.wady }}</td><td class="bg-info">Wady</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Silnik 1</td><td class="tederajt">{{ auta.0.silnik1 }}</td>
            <td>{{ auta.1.silnik1 }}</td><td class="bg-info">Silnik 1</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Silnik 2</td><td class="tederajt">{{ auta.0.silnik2 }}</td>
            <td>{{ auta.1.silnik2 }}</td><td class="bg-info">Silnik 2</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Silnik 3</td><td class="tederajt">{{ auta.0.silnik3 }}</td>
            <td>{{ auta.1.silnik3 }}</td><td class="bg-info">Silnik 3</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Silnik 4</td><td class="tederajt">{{ auta.0.silnik4 }}</td>
            <td>{{ auta.1.silnik4 }}</td><td class="bg-info">Silnik 4</td>
        </tr>
        <tr>
            <td class="bg-info tederajt">Silnik 5</td><td class="tederajt">{{ auta.0.silnik5 }}</td>
            <td>{{ auta.1.silnik5 }}</td><td class="bg-info">Silnik 5</td>
        </tr>
        </tbody>
    </table>
    </div>
    <a class="btn btn-warning" href="{{ path('_home') }}">Wróć</a>
{% endblock %}