{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuń dane auta:</h1>
        {{ form_start(usun_form) }}
        {#{{ form_row(usun_form.id, { 'attr':{'type':'hidden'} }) }} #}
        {{ form_row(usun_form.marka, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.model, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.lata_produkcji, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.szerokosc, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.dlugosc, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.waga, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.factorcx, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.zawieszenie, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.zalety, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.wady, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.silnik1, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.silnik2, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.silnik3, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.silnik4, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(usun_form.silnik5, { 'attr':{'disabled':'disabled'} }) }}
        <h4>Czy na pewno usunąć dane tego auta z bazy?</h4>    
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a class="btn btn-primary" href="{{ path('auta_edit', { 'id': ajdi }) }}">Edytuj</a>
        <a class="btn btn-warning" href="{{ path('_home') }}">Wróć</a>
        {{ form_end(usun_form) }}
{% endblock %}
