body{
    background-image: url('../images/polonez_car.png');
}

button:hover{
    cursor: pointer;
}

table{
    border-color: black;
    background-color: #08C;
}

.tederajt{
    text-align: right;
}

.tedewidth{
    min-width: 150px;
}

.tedecenter{
    text-align: center;
}

#tabelka td, #tabelka th{
    border: 1px solid #000000;
}

.thead-inverse th {
            color: #fff;
            background-color: #373a3c;
        }

label{
    width: 120px;
    text-align: right;
    padding-right: 10px;
}

input{
    border-radius: 3px;
}

textarea{
    border-radius: 3px;
}